{
    "port": 4000,
    "applicationDomain": "http://test:4000",
    "databaseConnection": {
        "host": "url-shortener-postgre-test",
        "user": "url-shortener-db-user-test",
        "password": "url-shortener-db-password-test",
        "database": "url-shortener-test",
        "port": 5432
    },
    "redisConnection": {
        "user": "default",
        "host": "url-shortener-redis",
        "port": 6379,
        "password": "url-shortener-redis-password"
    }
}
